<!-- start Simple Custom CSS and JS -->
<style type="text/css">
div#lp-pom-text-9 span {
    visibility: hidden;
}

div#lp-pom-text-9 span:first-child span:before {
    content: "Need a food handler certificate that’s accredited by ANSI?";
    visibility: visible;
}</style>
<!-- end Simple Custom CSS and JS -->
