<!-- start Simple Custom CSS and JS -->
<style type="text/css">
button.button.btn.btn-default {
    width: 190px !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  	margin-bottom: 15px !important;
    margin-top: 15px !important;
}

a.checkout-button.button.alt.wc-forward {
    width: 215px !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
