<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child{
  padding-top:  20px;
}
p#learndash_next_prev_link a.next-link {
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
button.w3-button.w3-black {
  margin-bottom: 55px !important;
  }
}
@media only screen and (max-width: 600px) {
.wptww-testimonials-text p em {
font-size: 12px !important;
}
}

a.my_btn3 {
    margin-top: -8px !important;
    margin-left: 15px;
    background-color: #d9534f !important;
}

div.eapps-pricing-table-column-3 .eapps-pricing-table-column-button {
height: 50px;
width: 150px;
}
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

</style>
<!-- end Simple Custom CSS and JS -->
