<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#eapps-pricing-table-1 .eapps-pricing-table-column-ribbon{
  	height: 50px;
    width: 200px;
    font-size: 1.2em;
    font-weight: bold;
  	top: 24px !important;
    right: -51px !important;
    padding: 6px 47px 8px !important;
    white-space: unset !important;
}

.sub-text-head{
  font-family: 'Lato', sans-serif !important;
  text-transform: unset;
  color: #555;
}

@media screen and (min-width: 768px){
  .page-id-6077 #mapbase svg {
      height: 600px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 324px){
  #learndash_next_prev_link a.next-link {
   margin-left: 130px;
    margin-top: 0px;
    position: absolute;
}
}
@media screen and (min-width: 375px) and (max-width: 375px){
  #learndash_next_prev_link a.next-link {
    margin-left: 180px;
    margin-top: 0px;
    position: absolute;
}

}
@media screen and (min-width: 425px) and (max-width: 425px) {
  #learndash_next_prev_link a.next-link {
    margin-left: 220px;
    margin-top: 0px;
    position: absolute;
}

}
@media screen and (min-width: 414px) and (max-width: 414px) {
  #learndash_next_prev_link a.next-link {
    margin-left: 210px;
    margin-top: 0px;
    position: absolute;
}
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  #learndash_next_prev_link a.next-link {
    margin-left: 160px;
    margin-top: 0px;
    position: absolute;
}

}

@media screen and (min-width: 320px) and (max-width: 768px) {
   h3#iphone{
  	padding-bottom: 80px;
  }
}</style>
<!-- end Simple Custom CSS and JS -->
