<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.login-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.login-modal-content {
  	max-height: 400px;
    overflow-y: auto;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #555;
    float: right;
  	margin-top: -30px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-cont{
  padding: 10px 30px;
  margin-top: 10px;
  height: 50px;
}
.btn-cont p{
  display: inline;
  vertical-align: middle;
}
.btn-cont a{
  float: right;
}
.btn-cont button,#zipbtn{
  color: #fff;
  background-color: #0088aa;
  border-color: #0088aa;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
.login-modal-title{
  margin-top: 0 !important;
}
input#zip::-webkit-inner-spin-button, 
input#zip::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input#zip{
  height: 40px;
}
#zipbtn{
  margin-left: 20px;
  width: 20% !important;
}
.login-modal-content a{
  color: #0088aa;
}

@media only screen and (max-width: 760px){
  .login-modal-content {
  	width: 100% !important;
  }
  .login-modal{
  	padding-top: 50px !important;
  }
}


div.timer {
  	font-family: 'Oswald', sans-serif !important;
  	display: inline-block;
    height: 50px;
    width: 50px;
    margin: 20px auto 0;
    background: #5cb85c;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-size: 30px;
}
span.colon_counter {
    padding: 0 7px;
    font-size: 30px;
    vertical-align: 5px;
}
.countdown_badge{
  	position: absolute;
    padding: 4px;
    top: 122px;
    left: 620px;
    color: #ffffff;
    background: #2a7fff;
    background-size: cover;
    height: 35px;
    width: 160px;
    font-size: 18px;
    border-radius: 30px;
}
h3.conf{
    padding: 0 45px;
    text-align: center;
}
.modal-button-green{
	color: #fff;
    background-color: #009010;
    border-color: #009010;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
  	width: 49%;
  	margin-right: 2%;
}

.modal-button-red{
	color: #fff;
    background-color: #a70000;
    border-color: #a70000;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
  	width: 49%;
}
.modal-show{
  display: block !important;
}
.modal-hide{
  display: none !important;
}
a .result_cont:hover {
    background: #dcdcdc;
    color: #003380 !important;
}
.result_cont hr {
    margin-bottom: 0 !important;
  	border-top: 1px solid #c7c7c7 !important;
}
.result_cont {
    padding: 20px 20px 0 30px !important;
    margin: 0 -20px !important;
  	color: #333 !important;
}</style>
<!-- end Simple Custom CSS and JS -->
