<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.learndash_post_sfwd-lessons{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
.learndash_post_sfwd-lessons .learndash_content{
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
}
.learndash_post_sfwd-lessons #learndash_next_prev_link,#sfwd-mark-complete{
  position: relative;
  margin-bottom: -150px !important;
  margin-top: 100px !important;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
}
.learndash_post_sfwd-lessons #sfwd-mark-complete{
  top: -55px; 
}
.postid-348 #sfwd-mark-complete{
  top: 0;
  margin-top: 50px !important;
}
.learndash_post_sfwd-lessons p iframe{
  	margin-top: 70px !important; 
}
.postid-7335 #learndash_post_7335 h3:nth-of-type(1){
  	margin-top: 70px; 
}
.postid-6795 #sfwd-mark-complete{
  	top: -130px;
}
.postid-6795 #learndash_next_prev_link{
  	top: -76px;
}
.postid-6795 .learndash_content{
  margin-top: 50px !important;
}</style>
<!-- end Simple Custom CSS and JS -->
